.conteiner {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0D0D0D;
    text-align: center; /* Centraliza o texto do título e conteúdo dentro do contêiner */    
    box-shadow: inset 0px 20px 50px rgb(0, 0, 0); /*Sombra*/
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
}

.ConteinerSkills1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.skills1{
    display: flex; /* Ativa o layout flexível */
    flex-direction: row; /* Organiza os itens verticalmente (título acima dos círculos) */
    align-items: center; /* Alinha os itens horizontalmente no centro */
    justify-content: center;
    gap: 20px; /* Espaço entre o título e os círculos */
}

.skillsTitulo1 {
    color: #ffffff;
    margin-top: 100px;
    font-size: 30px;
}

.skillsCirculosEscuro1 {
    margin-top: 100px;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento se tornar um círculo */
    background-color: #1EBD2E; /* Cor de fundo do círculo */
}

.skillsCirculosClaro1 {
    margin-top: 100px;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento se tornar um círculo */
    background-color: #80AA84; /* Cor de fundo do círculo */
}



.PageContainer {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    
}

.ConteinerSkills2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    margin-top: 100px;
}

.skills2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Faz com que o título e os círculos fiquem nas extremidades do container */
    width: 100%; /* Garante que o container interno ocupe toda a largura disponível */
    max-width: 600px; /* Opcional: define uma largura máxima para o container */
    gap: 20px;
}

.skillsTitulo2 {
    color: #ffffff;
    text-align: right;
    flex: 1;
    font-size: 30px;
}

.skillsCirculos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.skillsCirculosEscuro2 {
    margin-top: 0px;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento se tornar um círculo */
    background-color: #1EBD2E; /* Cor de fundo do círculo */
}

.skillsCirculosClaro2 {
    margin-top: 0px;
    width: 30px; /* Largura do círculo */
    height: 30px; /* Altura do círculo */
    border-radius: 50%; /* Faz o elemento se tornar um círculo */
    background-color: #80AA84; /* Cor de fundo do círculo */
}


@media screen and (max-width: 1385px) {
    
    .ConteinerSkills1 {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin: 0rem;
        padding: 0rem;
        margin-top: 30px;
    }

    .skillsCirculosEscuro1 {
        margin-top: 25px;
    }
    
    .skillsCirculosClaro1 {
        margin-top: 25px;
    }

    .skillsTitulo1 {
        margin-top: 25px;
    }

    
}

@media screen and (max-width: 900px) {

  .titulo {
    font-size: 60px;
  }
    
}

@media screen and (max-width: 450px) {

    
    .ConteinerSkills1 {
      gap: 20px;
    }
    
    .skillsTitulo1 {
        margin-top: 0px;
    }

    .skillsCirculosEscuro1 {
        margin-top: 0px;
        width: 18px; /* Largura do círculo */
        height: 18px; /* Altura do círculo */
    }
    
    .skillsCirculosClaro1 {
        margin-top: 0px;
        width: 18px; /* Largura do círculo */
        height: 18px; /* Altura do círculo */
    }

    .ConteinerSkills2 {
        gap: 20px;
        margin-top: 80px;
      }
    
      .skillsTitulo2 {
          margin-top: 0px;
      }
  
      .skillsCirculosEscuro2 {
          margin-top: 0px;
          width: 18px; /* Largura do círculo */
          height: 18px; /* Altura do círculo */
      }
      
      .skillsCirculosClaro2 {
          margin-top: 0px;
          width: 18px; /* Largura do círculo */
          height: 18px; /* Altura do círculo */
      }
    
      
  }



  .scrollingContainer {
    position: relative; /* Posiciona o container como relativo para utilizarmos o position: absolute no texto */
    width: 100%;
    padding-top: 100px;
    overflow: hidden; /* Esconde o texto que ultrapassa os limites do container */
    white-space: nowrap;
    display: flex; /* Transforma o container em um flex container */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; 
    font-size: 30px;
    color: #fff;
  }
  