* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.conteiner {
    height: auto;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #0D0D0D;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center;
    box-shadow: inset 0px 20px 50px rgb(0, 0, 0); /*Sombra*/
}

.conteinercontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 50rem;
    height: auto;
}

.button {
    font-size: 17px;
    color: #ffffff;
    background-color: #13881f;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.5rem; /* Define o padding (10px em cima e embaixo, 15px nas laterais) */
    margin-top: 20px; 
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .button:hover {
    font-size: 18px;
    color: #ffffff;
    background-color: #1EBD2E;
  }

.titulo {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.paragraph {
    margin-right: 130px;
    line-height: 2em;
    font-size: 18px; 
    text-align: left; 
    color: #ffffff;    
}



@media screen and (max-width: 1385px) {

    .titulo {
        text-align: center;
    }

    .conteiner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .conteinercontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .paragraph {
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1120px) {
    .foto {
        width: 60%;
        height: auto;  
    }
}

@media screen and (max-width: 900px) {
    .foto {
        width: 70%;
        height: auto;  
    }

    .paragraph {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media screen and (max-width: 600px) {
    .foto {
        width: 100%;
        height: auto;  
    }

    .titulo {
        font-size: 35px;
    }

    .paragraph {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16.5px;
    }

    .button {
        font-size: 15px;
        padding: 0.5rem 0.5rem; /* Define o padding (10px em cima e embaixo, 15px nas laterais) */
        margin-top: 15px;
        margin-bottom: 20px;
      }
}